DATABASE_URL=postgres://jarvis:change-me@postgres:5432/jarvis
JARVIS_DOMAIN=jarvis.enriquecodes.com
JARVIS_OPERATOR_EMAIL=alonsorequejoenrique@gmail.com
MASTER_KEY_PATH=/var/lib/jarvis/keys/master.key
SITE_YAML=/etc/jarvis/site.yaml
PORT=8080
HOST=0.0.0.0
